@model IEnumerable<MVCSample.Models.P_GET_PUBLISHER_Result>

@{
    ViewBag.Title = "publisherlist";
    Layout = "~/Views/Shared/master.cshtml";
}

<h2>publisherlist</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.PUBLISHER_NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PUBLISHER_NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PUBLISHER_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PUBLISHER_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PUBLISHER_ID })
        </td>
    </tr>
}

</table>
